*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    height: 600px;
    width: 700px;
    background-color: rgb(241, 172, 88);
    margin: 50px auto;
    text-align: center;
}
.row {
width: 400px;
height: 200px;
display: flex;
margin: 60px auto;
}
.rotate-x, .rotate-y , .rotate-z {
    background-color: rgb(44, 161, 81);
    width: 100px;
    height: 100px;
    margin: 20px;
    transition-duration: .5s;
}
.rotate-x:hover{
    transform: rotateX(180deg);
}
.rotate-y:hover{
    transform: rotateY(250deg);
}
.rotate-z:hover{
    transform: rotateZ(140deg);
}