
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
h1,h4 {
    color: green;
    margin-left: 20px;
}
ol li{
    margin-left: 50px;
    list-style: 1;
}

ol li::marker {
    animation-name: list;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

ol li:nth-child(1)::marker {
    animation-delay: 0;
}

ol li:nth-child(2)::marker {
    animation-delay: 0.5s;
}

ol li:nth-child(3)::marker {
    animation-delay: 1.0s;
}

ol li:nth-child(4)::marker {
    animation-delay: 1.5s;
}

ol li:nth-child(5)::marker {
    animation-delay: 2s;
}

@keyframes list {
    from {
        font-size: 16px;
    }

    to {
        font-size: 35px;
        color: green;
    }
}
